*{
    margin:0px;
    padding: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   

}
.navbar-nav{
    text-align: right;
    margin-right: 20;
    
}
.navbar .navbar-brand{
    color: white;
    font-size: 20px;
}
.navbar .navbar-toggler{
    color:rgb(255, 255, 255);
}
.container{
    z-index: 1;
}
.btn{
    background-color:#720000;
    color:white;
    display: inline-block;
    width: 120px;
    min-width: 120px; 
}
.pic1{
    background-color: transparent;
    width: 15px;
    height: 15px;
    color: #000;
    border: none;
}
.slcta{
    background-color: transparent;
    border-width: 2px;
    border-radius: 50%;
    border: white 2px;
    

}
.slcta:hover{

    transform: scale(1.5);
}
.navbar-brand img{
    width: 80px;
    height: 70px;
    margin-top: 2px;
    margin-right: 20px;
    color: white;
    font-size: 20px;
}
.navbar{
    background-color: #720000! important;
    z-index: 2;
}
.navbar .navbar-nav li a{
    color: #fff;
}
.nav-link{
    font-size: 20px;
    margin: 3px;
    color: white;
    font-weight: 500;
    

}
.van:hover{
    font-weight: 600;
    border-bottom: 1px solid #fff;

}
.btn:hover{
    transform: scale(1.1);
}

html,
body,
header,

#pic{
    
    background-image: url("/static/Media/TUPBGDARK.png");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-attachment: fixed;

}
body {
    --table-width: 100%
}
tbody{
    display: block;
    max-height: 300px;
    overflow-y: auto;
}
thead, tbody tr{
    display: table;
    width: var(--table-width);
    table-layout: fixed;
}
.thead{
    background-color: rgb(143, 30, 10);
    color: white;
}
.table-color{
    background-color: rgb(175, 51, 51);
    
}
.view {
    background: #000 url("static/Media/TUPBGDARK.png");
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    
    position: relative;
   }

.color-overlay {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background: hsla(355, 98%, 17%, 0.726);
    opacity: .6;
    position: absolute;
   }
html,
body,
head,
.container{
    width: 100%;
    align-content: center;
    text-align: center;
    
}

.buttons{
    align-content: center;
    width: 100%;
    text-align: match-parent;
    display: block;
    height: auto;
    min-width: auto;
    
    
}
